body{
    margin: 0;
    padding: 0;
    background-image: url("img/faded-office.png");
    background-size: cover; 
    text-align: start;
    font-family: 'Open Sans', sans-serif;
}

.content{
    margin: 50px 0 0 50px;    
}

#title{
    width: 320px;
    font-weight: 800;
    font-size: 48px;
}

#subtitle{
    width: 320px;
    font-weight: 400; 
    margin-bottom: 36px;
    font-size: 24px;
}

.underline{
    border-bottom: 4px  solid #0ea5E9;
}

.btn{
    background-color: #0ea5E9;
    color: white;
    padding: 15px;
    width: 160px;
    border: none;
    font-family: inherit;
    font-weight: 800; 
    font-size: 20px;
}

.black-color{
    color: #020202;
}